<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-red.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;

      z-index: 900;
    }
    /**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
body {
    margin: 0;
    padding: 0;
}
.demo-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #373738;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
}

.demo-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.demo-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.demo-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

.demo-content h3 {
  margin-top: 48px;
}

.demo-footer {
  padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

    </style>
  </head>
  <body>

    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">

 

      <div class="demo-ribbon"></div>
      <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            <div class="demo-crumbs mdl-color-text--grey-500">
      
            </div>
          <title>{{blog.title}}</title>
  <div class="content mt-4">
         On October 29, 2018, a nearly new Boeing 737 MAX 8 jet plunged into the Java Sea at 400 miles per hour, killing all 189 people onboard. The sudden and rapid descent of Indonesia’s Lion Air Flight 610 commenced at 5,000 feet, just 11 minutes after taking off from Jakarta’s Soekarno-Hatta International Airport. Captain Bhavye Suneja and First Officer Harvino, who went by a single name as was common in Indonesia, contacted air traffic control requesting immediate return to Jakarta before losing control of the aircraft. The plane crashed into the sea, “hitting the water with such force that some metal fixtures on the aircraft disintegrated.” <br /><br />

The accident initially seemed to be a senseless and anomalous tragedy. Air safety, enforced in large part by the certification process of the Federal Aviation Administration (FAA), was enjoying an exemplary record: Globally, the five-year worldwide average stood at one fatal airliner crash for every
2.5 million to 3 million flights. In the United States, airline safety had reached record levels, with only one passenger fatality in more than 10 years. <br /><br />

Boeing’s initial response to the crash focused on Lion Air’s airline maintenance procedures and suggested the pilots were at fault.3 Nonetheless, about eight days later, on November 6, 2018, Boeing issued a bulletin to all 737 MAX 8 and 737 MAX 9 operators indicating that “erroneous angle-of-attack data” could result in “uncommanded nose-down movement of the aircraft and that this action can repeat until the related system is deactivated.”4 The Boeing bulletin provided additional instructions to pilots who might encounter such a dangerous situation. On November 7, 2018, the FAA followed by issuing an Emergency Airworthiness Directive requiring Boeing to revise the operating procedures in its flight manual for the 737 MAX aircraft. Of specific concern was the new Maneuvering Characteristics Augmentation System (MCAS), software designed to prevent the aircraft from stalling by automatically pushing the nose of the plane down when a high angle of attack (AOA), or nose-up condition, was detected.<br /><br /> <br /><br />

Officially, Boeing, including CEO Dennis Muilenburg, repeatedly declared “…the 737 MAX is safe.”5 But, as investigative reporter Peter Robison documented, “Behind the scenes, some of the largest and most respected airlines in the world were screaming that Boeing had hidden the existence of potentially deadly software inside their planes.”6 Internal communications that Boeing handed over to the U.S. Department of Justice and Congressional investigators would later show that the company’s own engineers and test pilots had known about the MCAS problem well before the crashes. <br /><br />

After the Lion Air crash, Boeing rushed to redesign MCAS. Boeing Vice President Mike Sinnett initially promised it would take “not a year, but…maybe six weeks-ish” to “tame the system.”7 By March 2019, the revisions were still not completed. <br /><br />

Then, on March 10, 2019, shortly after Ethiopian Airlines Flight 302 took off from Addis Ababa Bole International Airport bound for Nairobi, Kenya, Captain Yared Getachew and First Officer Ahmed Nur Mohammod Nur struggled to ascend at a stable speed. Getachew sent out a distress call, but contact with air traffic control was lost six minutes into the flight. The same model Boeing MAX 8 that had plummeted into the Java Sea crashed near Bishoftu, a town southeast of Addis Ababa. All 157 onboard, hailing from 35 different countries, were killed. <br /><br />

A maelstrom of questions immediately followed, from maintenance crews in Indonesia and Ethiopia, airlines and pilots flying the MAX 8 around the world, Boeing leadership at its Chicago-based headquarters, the FAA and U.S. Congress, and the families of the victims. High-stakes public disputes arose over the root causes of the crashes. U.S. Congressman Sam Graves declared, “Pilots trained in the United States would have been able to handle the emergencies on both jets.”10 Others, however, blamed MCAS and a flawed design process at Boeing. Still others faulted the FAA. A subsequent report by the U.S. Department of Transportation’s Inspector General, entitled “Weaknesses in FAA’s Certification and Delegation Processes Hindered Its Oversight of the 737 MAX 8,” identified “limitations in FAA’s guidance and processes that impacted certification….” These included “communication gaps,” “management and oversight weaknesses,” and “process and structure [that] do not ensure [FAA] personnel are adequately independent.” <br /><br />

On March 13, 2019, under pressure from the Indonesian and Ethiopian governments, airlines, pilots, the public, and the families of the 346 dead, the President of the United States Donald Trump ordered the grounding of all 737 MAX aircraft. Several independent review boards were created to identify the root causes of the two crashes and the changes regulators would require Boeing to implement before the aircraft could return to service. <br /><br />
 
Boeing’s best-selling plane remained grounded for 21 months, while customers continued to cancel orders. Through the end of October 2020, Boeing removed 595 MAX orders from the backlog and canceled a further 448, a total loss of 1,043 orders, leaving a backlog of 3,320. Boeing’s rival Airbus had a backlog of 5,956 jets for its A320neo family, a direct competitor to the 737 MAX. <br /><br />

On November 18, 2020, just over two years after the Lion Air crash, FAA Administrator Steve Dickson signed an order permitting the 737 MAX to return to commercial service. At the time of Dickson’s order, the COVID-19 pandemic had slashed global air travel. Airlines announced plans to return their 737 MAX aircraft to service slowly. <br /><br />

Yet major questions remained as passengers once again began flying on the MAX 8, which Boeing rebranded the 737-8. What role, if any, did company engineers play in causing the two catastrophes? What about their managers? Their test pilots? What role did Boeing’s CEO, board, and other senior leaders play in shaping the processes, procedures, and corporate culture that may have set the stage for the disasters? Why didn’t the FAA detect the flaws in the design before allowing the 737 MAX 8 to enter service? How could future disasters be prevented? <br /><br />

Air Safety <br /><br /><br /><br />
Over many decades, commercial aviation had become much safer. Technical innovation in engines, airframes, cockpit instrumentation, communications, software, and control systems—together with better procedures and stronger regulations governing aircraft testing, certification, pilot training, operations, and air traffic control—all contributed to improving safety. <br /><br />

Measured by accidents per passenger miles flown, the improvements were impressive. In 2018, the National Safety Council (NSC) reported only 1 death per 100 million passenger miles on scheduled airlines in the U.S. Exhibit 1 shows U.S. commercial aviation accidents, 1975–2018. <br /><br />

However, the number of flights, flight hours, and passenger miles traveled per year all exploded as people around the world became more affluent and average fares fell. From 2010 to 2019 (the year before COVID-19 drastically cut airline travel), passengers carried by scheduled commercial air traffic grew from 2.7 billion to 4.5 billion worldwide, and total flight miles grew from less than 3.1 trillion to nearly 5.4 trillion passenger miles. The industry formed a complex web with more than 1,400 scheduled airlines, 26,000 aircraft, 3,900 airports, 173 air navigation centers, 360,000 pilots, and 86,000 air traffic controllers. <br /><br />

The growth in air travel meant that the accident rate did not fall as much as data on accident per flight or per passenger mile suggested. Between 1959 and 2008, 33.8 commercial jet accidents per year occurred worldwide, 35% of which involved fatalities. Between 2009 and 2018, 41.4 accidents per year occurred, 13% of which were fatal. <br /><br />

The root causes of accidents remained a hotly contested topic. Human error was often the go-to explanation. In a 2006 study, the FAA noted, “Although percentages vary, most would agree that somewhere between 60%–80% of aviation accidents are due, at least in part, to human error.” <br /><br />

Safety experts, however, argued that most human errors were the result of poorly designed equipment and systems.19 In addition to focusing on “personal safety”—roughly speaking, admonishing people to be careful—designers focused on increasing “process safety”—designing an intrinsically safe system that minimized opportunities for and consequences of human error. As safety expert and psychologist James Reason noted, “Though we cannot change the human condition, we can change the conditions under which humans work.” <br /><br />

The Boeing Company <br /><br />

Incorporated in 1916 by timber baron William E. Boeing, the company’s first contracts were with the U.S. Navy, for which Boeing produced seaplanes, patrol flying boats, and torpedo bombers. During World War II, Boeing produced nearly 100,000 aircraft, including the famous B-17 Flying Fortress. Between 1942 and 1944, the company ramped up production from 60 to 362 B-17s per month. After the war, Boeing went on to develop the B-52 Stratofortress strategic bomber and other critical military aircraft. Boeing also developed the nation’s first commercial jet airliner, the Boeing 707, delivering the first one to Pan Am to serve a transatlantic route. <br /><br />

Boeing became the preeminent player in the commercial airline industry. Author John Newhouse wrote: "Back in the 1970s and early 1980s, four companies divided the turbulent business of making and selling passenger airplanes. One of them, the Boeing Company, was dominant. The other two big American players—the Lockheed Aircraft Corporation and the McDonnell Douglas Corporation— labored in the wake of their own mistakes. Lockheed’s were terminal, and McDonnell Douglas, known in the trade as McDac, hadn’t come to terms with reality. The reality was that a small European company called Airbus Industrie, generally known only as Airbus, had abruptly become not just a player but a mortal threat. Simply put, Airbus was eating McDac’s lunch." <br /><br />

"In the 1980s, …Boeing was universally judged one of America’s best and most admired companies, partly because its sales abroad of large commercial airplanes were the country’s biggest export, and partly because it had learned to build these airplanes better, faster, and cheaper than anyone else had done. ‘World-class’ was Boeing’s lofty but accurate characterization of itself." <br /><br />

By the end of 1990, Boeing held 62% of the commerical airline market, with sales of $20.3 billion and earnings of $973 million.22 McDonnell Douglas (23%) and Airbus (15%) trailed far behind. <br /><br />

Thornton “T” Wilson <br /><br />

One of Boeing’s legendary leaders, Thornton “T” Wilson, was credited with shaping much of the company’s success. With a bachelor of science degree in aeronautical engineering from Iowa State University and a master of science degree from California Institute of Technology, Wilson joined the company in 1943 to work on its bomber programs. He became president of Boeing in 1968, CEO in 1969, and chairman in 1972. A hands-on manager who had worked on the factory floor, Wilson understood every blue-collar job involved in the production process, and engaged closely with employees at all levels. Newhouse commented: “Wilson would sit down with factory workers at lunch in the cafeteria and find out what was going on in their various operations; and then if it was advisable, he would take up what he’d learned with the relevant managers.” As one former executived noted, “He ran the company. It did not run him. <br /><br />

During Wilson’s leadership and soon after his retirement in 1986, Boeing became the market leader in commercial aircraft, defense, space, and security systems. Company engineers took on some of the most challenging work in the industry, including high-visibility U.S. government contracts. In 1980, Boeing initiated a study of the space station concept with NASA. In 1982, Boeing engineers designed a solar power satellite system capable of providing power to millions of homes. In 1988, the company delivered to the U.S. Army the first Avenger “air defense system,” one of several Cold War innovations. And, in 1994, Boeing Computer Services won the contract to design software for the Space Shuttle Program. Meanwhile, four years earlier, the Boeing 737 became the best-selling jetliner in the world. <br /><br />

During Wilson’s tenure, it was common for employees to spend their entire career at Boeing, as was the case with Wilson himself, forging a “social contract” between workers and the company. Boeing researchers Leon Grunberg and Sarah Moore summarized the company ethos: <br /><br />

"Management of the company was anchored in loyalty and promoting through the ranks. Indeed, so- called Heritage Boeing employees were extremely proud of building innovative, safe, quality products, such as the 707 and 747, airplanes that set the global standard in commercial aviation when launched. Executives told their employees—and the employees believed—that they were number one in the world, as indeed they were until Airbus gradually ate into Boeing’s market share and achieved parity in deliveries in the early 2000s." <br /><br />

Acquiring McDonnell Douglas
When I say I changed the culture of Boeing, that was the intent, so it’s run like a business rather than a great engineering firm. It is a great engineering firm, but people invest in a company because they want to make money.
– Harry Stonecipher, 2004, former president and CEO of McDonnell Douglas and then Boeing29 <br /><br />

In December 1996, Boeing announced its intention to purchase long-time rival McDonnell Douglas in a stock swap valued at $13.3 billion. It was the 10th-largest U.S. merger at that time and the largest in the aerospace industry. Under the terms of the agreement, 0.65 Boeing shares were exchanged for each McDonnell Douglas share. The implied value of $62.89 per share represented a 21% premium on McDonell’s closing price of $52 when the deal closed on July 31, 1997. <br /><br />

On its face, joining the two companies, which analysts estimated would yield in excess of $48 billion in 1997 revenue—$28 billion from Boeing and $20 billion from McDonnell Douglas—would bring together complementary product lines and internal capabilities, while helping to mitigate market risk for each. “We’ve looked very carefully at all of our programs,” said Philip Condit, then Boeing’s president and CEO. “We believe that dramatically they are complementary. There are some overlaps, but they’re very, very minor. <br /><br />

Whereas Wilson knew many frontline employees by name and often met with them, Boeing’s headquarters and senior management were moved to Chicago, about 2,000 miles from the commercial aircraft division. The reporting structure changed so that top engineers reported first to business leaders in each division and second to the chief engineer. In the years following the merger, many longtime Boeing employees lamented what they perceived as a fundamental change from “an engineering and ‘family’ culture to a ‘team’ and shareholder value culture.” <br /><br />

Other changes included the computerization of parts ordering, a shift to lean manufacturing to reduce cycle times, increased use of outsourcing and global partnering—and approximately 50,000 layoffs between 1999 and 2003. <br /><br />

Some observers noted growing conflict between the engineering culture that Wilson had built with a “bean counter” approach that emerged among many of his successors, particularly after the merger. “Boeing’s critics, in-house as well as external, complain about a heavy presence of inexperienced business-school types and too little listening to the airline market,” said author John Newhouse. <br /><br />

Kyle Smith, a business operations and corporate consultant with 30 years of experience at Boeing, commented on the labor-management dynamic following the merger: <br /><br />

"So you have a workforce that is highly disillusioned, that feels that leadership is out of touch. Management deals with that by hiding and by being increasingly authoritarian. A culture of fear is the only way they have of maintaining control. And it’s all done in an environment of encouraging people to tell management what they think, which is absolutely the opposite of what management actually wants them to do. So you get all of these double messages and double binds that you’re putting the workforce in, of saying we want your input but when we get it you’re punished or held back because of it. We want your input, but when you give it, you’re not a team player, because team players only give us things that make us feel better." <br /><br />

        </div>
              
          </div>
        </div>
        <footer class="demo-footer mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <ul class="mdl-mini-footer--link-list">
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy and Terms</a></li>
              <li><a href="#">User Agreement</a></li>
            </ul>
          </div>
        </footer>
      </main>
    </div>
  
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
