<style>
    body {
        background-color: #33333D;
    }

    #chartdiv {
        height: 250px;
        width: 450px margin: 20px;
    }

    #chartdiv2 {
        height: 250px;
        width: 500px;
        margin: 20px;
    }

    #chartdiv3 {
        height: 250px;
        margin: 20px;
        width: 500px;
    }

    #chartdiv4 {
        height: 250px;
        margin: 20px;
        width: 500px;
    }

    #chartdiv5 {
        height: 250px;
        margin: 20px;
        width: 500px;
    }

    #chartdiv6 {
        height: 250px;
        margin: 20px;
        width: 500px;

    }
</style>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="//www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">
<script>$('#example').DataTable({
    ajax: 'scripts/server_processing.php',
    processing: true,
    serverSide: true
});</script>
<script>
    <script>
        $(document).ready(function () {

            $('.mdl-cell').each(function () {

                var cellvalue = $.trim($(this).text());
                if (cellvalue.substring(0, 1) == '-') {
                    $(this).wrapInner('<strong class="colorred"></strong>');
                }
            });

        });

    </script>
</script>
<script>



    // Themes begin
    am4core.useTheme(am4themes_dark);
    am4core.useTheme(am4themes_animated);
    // Themes end

    // Create chart instance
    var chart = am4core.create("sp500", am4charts.XYChart);
    chart.background.fill = '#27272F'

    chart.dataSource.url = "/public/data/econ/indexes/SP500.json";
    chart.dataSource.parser = new am4core.JSONParser();

    var title = chart.titles.create();
    title.text = "SP500";
    title.fontSize = 16;
    title.marginBottom = 30;
    chart.dateFormatter.inputDateFormat = "yyyy-MM-dd";

    // Create axes
    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

    // Create series
    var series = chart.series.push(new am4charts.LineSeries());
    series.dataFields.valueY = "value";
    series.dataFields.dateX = "date";
    series.tooltipText = "{value}"
    series.strokeWidth = 1;
    series.minBulletDistance = 15;

    // Drop-shaped tooltips
    series.tooltip.background.cornerRadius = 20;
    series.tooltip.background.strokeOpacity = 0;
    series.tooltip.pointerOrientation = "vertical";
    series.tooltip.label.minWidth = 40;
    series.tooltip.label.minHeight = 40;
    series.tooltip.label.textAlign = "middle";
    series.tooltip.label.textValign = "middle";

    // Make bullets grow on hover
    var bullet = series.bullets.push(new am4charts.CircleBullet());
    bullet.circle.strokeWidth = .5;
    bullet.circle.radius = 4;
    bullet.circle.fill = am4core.color("#fff");

    var bullethover = bullet.states.create("hover");
    bullethover.properties.scale = 1.3;

    // Make a panning cursor
    chart.cursor = new am4charts.XYCursor();
    chart.cursor.behavior = "panXY";
    chart.cursor.xAxis = dateAxis;
    chart.cursor.snapToSeries = series;

    // Create vertical scrollbar and place it before the value axis


    // Create a horizontal scrollbar with previe and place it underneath the date axis


    dateAxis.start = 0.79;
    dateAxis.keepSelection = true;

</script>
<script>



    // Themes begin
    am4core.useTheme(am4themes_dark);
    am4core.useTheme(am4themes_animated);
    // Themes end

    // Create chart instance
    var chart = am4core.create("djia", am4charts.XYChart);

    chart.dataSource.url = "/public/data/econ/indexes/DJIA.json";
    chart.dataSource.parser = new am4core.JSONParser();
    chart.background.fill = '#27272F'
    var title = chart.titles.create();
    title.text = "DJIA";
    title.fontSize = 16;
    title.marginBottom = 30;
    chart.dateFormatter.inputDateFormat = "yyyy-MM-dd";

    // Create axes
    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

    // Create series
    var series = chart.series.push(new am4charts.LineSeries());
    series.dataFields.valueY = "value";
    series.dataFields.dateX = "date";
    series.tooltipText = "{value}"
    series.strokeWidth = 1;
    series.minBulletDistance = 15;

    // Drop-shaped tooltips
    series.tooltip.background.cornerRadius = 20;
    series.tooltip.background.strokeOpacity = 0;
    series.tooltip.pointerOrientation = "vertical";
    series.tooltip.label.minWidth = 40;
    series.tooltip.label.minHeight = 40;
    series.tooltip.label.textAlign = "middle";
    series.tooltip.label.textValign = "middle";

    // Make bullets grow on hover
    var bullet = series.bullets.push(new am4charts.CircleBullet());
    bullet.circle.strokeWidth = .5;
    bullet.circle.radius = 4;
    bullet.circle.fill = am4core.color("#fff");

    var bullethover = bullet.states.create("hover");
    bullethover.properties.scale = 1.3;

    // Make a panning cursor
    chart.cursor = new am4charts.XYCursor();
    chart.cursor.behavior = "panXY";
    chart.cursor.xAxis = dateAxis;
    chart.cursor.snapToSeries = series;

    // Create vertical scrollbar and place it before the value axis


    // Create a horizontal scrollbar with previe and place it underneath the date axis


    dateAxis.start = 0.79;
    dateAxis.keepSelection = true;

</script>
<script>



    // Themes begin
    am4core.useTheme(am4themes_dark);
    am4core.useTheme(am4themes_animated);
    // Themes end

    // Create chart instance
    var chart = am4core.create("nasdaq", am4charts.XYChart);

    chart.dataSource.url = "/public/data/econ/indexes/NASDAQCOM.json";
    chart.dataSource.parser = new am4core.JSONParser();
    chart.background.fill = '#27272F'
    var title = chart.titles.create();
    title.text = "NASDAQ";
    title.fontSize = 16;
    title.marginBottom = 30;
    chart.dateFormatter.inputDateFormat = "yyyy-MM-dd";

    // Create axes
    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

    // Create series
    var series = chart.series.push(new am4charts.LineSeries());
    series.dataFields.valueY = "value";
    series.dataFields.dateX = "date";
    series.tooltipText = "{value}"
    series.strokeWidth = 1;
    series.minBulletDistance = 15;

    // Drop-shaped tooltips
    series.tooltip.background.cornerRadius = 20;
    series.tooltip.background.strokeOpacity = 0;
    series.tooltip.pointerOrientation = "vertical";
    series.tooltip.label.minWidth = 40;
    series.tooltip.label.minHeight = 40;
    series.tooltip.label.textAlign = "middle";
    series.tooltip.label.textValign = "middle";

    // Make bullets grow on hover
    var bullet = series.bullets.push(new am4charts.CircleBullet());
    bullet.circle.strokeWidth = .5;
    bullet.circle.radius = 4;
    bullet.circle.fill = am4core.color("#fff");

    var bullethover = bullet.states.create("hover");
    bullethover.properties.scale = 1.3;

    // Make a panning cursor
    chart.cursor = new am4charts.XYCursor();
    chart.cursor.behavior = "panXY";
    chart.cursor.xAxis = dateAxis;
    chart.cursor.snapToSeries = series;

    // Create vertical scrollbar and place it before the value axis


    // Create a horizontal scrollbar with previe and place it underneath the date axis


    dateAxis.start = 0.79;
    dateAxis.keepSelection = true;

</script>

<script>
  window.addEventListener("load", () => {
  const loader = document.querySelector(".loader");

  loader.classList.add("loader--hidden");

  loader.addEventListener("transitionend", () => {
    document.body.removeChild(loader);
  });
});

</script>
<script>
  $('#example').DataTable({
    ajax: 'scripts/server_processing.php',
    processing: true,
    serverSide: true
});
</script>
<style>
    .mini-price {color: white}
</style>
<div class="loader"></div>
<br>
<div class="mdl-grid" id="dashboard-grid">
    {{#each users}}
  <div class=" mini-price mdl-cell--1-col"><img class="micro-image" style="height: 20px; width: 20px; margin: 10px;" src="{{image}}"/>{{symbol}}<hr>$ {{price}}</div>
 {{/each}}
</div>

  
    
    



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


