<form action="/user/add-visit" method="post">
    <div class="mdl-textfield mdl-js-textfield" style="position: relative; width: 300px; border: none;">
        <input placeholder="Search" class="mdl-textfield__input" type="text" id="search" name="search" autocomplete="off"
               style="margin-right: 25px !important;background-color: #2E2E38; height: 30px; border-radius: 5px; padding: 10px;">

        <button type="submit">Submit</button>
    </div>
</form>