ORT = 3000
MONGO_URI = mongodb://localhost:27017/storybooks
GOOGLE_CLIENT_ID = 908867502519-pk5nvlrq9jpmkm4pvk4limtglof7vgps.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 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
FRED_API_KEY = 8bd1a1452d9b2e100be5d57451fa8bb5
FMP_API_KEY = BALQ720EWreDutiK4c2KZBNj9qXgMQXA